body
{
  background-color: #E7E7E9;
  font-family: "Open Sans";
  color: rgb(50, 50, 50);
}

#container
{
  width: 500px;
  margin: 0 auto;
}

.card
{
  border: solid 1px rgb(225, 225, 225);
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 1px 1px 1px rgb(225, 225, 225);
  border-radius: 10px;
  padding: 10px;
}

#photo_portrait
{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.card img
{
  width: 100px;
}

.card h1, h2, h3
{
  text-align: center;
}

.card p
{
  text-align: justify;
}

.card ul
{
  text-align: center;
}

h1, h2, h3, h4
{
  font-family: Montserrat;
}

h1
{
  color: #DD5555;
  font-size: 25px;
}

h2
{
  font-size: 22px;
}

h3
{
  font-size: 19px;
}

h4
{
  font-size: 16px;
}

a
{
  text-decoration: none;
  color: rgb(200, 200, 200);
}

a:hover
{
  font-style: italic;
  color: black;

}
