body
{
  background-color: #EBEBEB;
  font-family: "Open Sans";
  color: rgb(50, 50, 50);
}

.container
{
  width: 1000px;
  margin: 30px auto;
  background-color: #E5E5E5;
  padding: 20px;
}

.card
{
  border: solid 1px rgb(225, 225, 225);
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 3px rga(200, 200, 200);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

#photo_portrait
{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.card img
{
  width: 100px;
}

.text-center
{
  text-align: center;
}

.btn-red
{
  background-color: #DD5555;
  color: white;
  padding: 5px;
  font-weight: bold;
  border-radius: 2px;
}

.btn-red:hover
{
  color: white;
  text-decoration: none;
  font-style: normal;
}

.list-inline
{
  padding-left: 0px;
  list-style: none;
}

.list-inline li
{
  display: inline-block;
  width: 100px;
}

h1, h2, h3, h4
{
  font-family: Montserrat;
}

h1
{
  color: #DD5555;
  font-size: 25px;
}

h2
{
  font-size: 22px;
}

h3
{
  font-size: 19px;
}

h4
{
  font-size: 16px;
}

a
{
  text-decoration: none;
  color: rgb(200, 200, 200);
}

a:hover
{
  font-style: italic;
  color: black;

}

p
{
  text-align: justify;
}

#left
{
  width: 38%;
  float: left;
}

#right
{
  width: 60%;
  float: right;
}

.clear
{
  clear: both;
}
